@page
@model Fiever.UI.Models.EditStudentModel

<h2>Edit Student</h2>

<form method="post" asp-action="Edit">
    <input type="hidden" asp-for="Student.Id"/>

    <div class="form-group">
        <label asp-for="Student.FirstName"></label>
        <input asp-for="Student.FirstName" class="form-control"/>
        <span asp-validation-for="Student.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Student.LastName"></label>
        <input asp-for="Student.LastName" class="form-control"/>
        <span asp-validation-for="Student.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Student.Email"></label>
        <input asp-for="Student.Email" class="form-control"/>
        <span asp-validation-for="Student.Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>